<!DOCTYPE html>
<html>
    <% include partials/head %>
    <% include partials/scripts %>
    <script src="./javascripts/home_page_script.js"> </script>
    <% include partials/bootstrap %>

    <body>
        <% include partials/large_logo %>
        <% include partials/nav %>

        <div id="main-container">

            <div id="home-container">
                <% articles.forEach((article) => { %>
                    <div id="<%= article.article_id %>" class="article-cover-container"> 
                        <div class="article-cover-text-container">
                            <h2 class="article-cover-title"> <a href="/article/<%= article.article_url_title %>"> <%= article.article_title %> </a> </h2>
                            <p class="article-cover-description"> <%= article.summary %> </p>
                        </div>
                        <div class="article-cover-image-container">
                            <% if (!!article.cover_image_path) { %> 
                                <img class="article-cover-image" src="<%= article.cover_image_path %>"> </img>
                            <% } %>
                        </div>
                    </div>

                <% }); %>

                <div id="show-more-container">
                    <button id="show-more"> Show More </button>
                    <img id="load-icon" src="https://www.rmh.com.au/wp-content/themes/royalhotel/images/loading.gif"> </img>
                    <p id="youve-hit-bottom">You've hit the bottom!</p>
                </div>

            </div>

        </div>

        <% include partials/footer %>
    </body>

</html>