<!DOCTYPE html>
<html lang="en"> 
    <% include partials/head %>
    <% include partials/scripts %>
    <script>
        let selected_year = <%- JSON.stringify(selected_year) %>;
    </script>
    <script src="/javascripts/ranking_script.js"></script>

    <body>
        <% include partials/nav %>

        <div id="main-container">

            <div id="year-tab-container"> 
                <% years.forEach((year) => { %>
                    <button id="<%= year.year_id %>" class="year-tab-button <% if (year.year_id == selected_year.year_id) { %> selected-tab <% } %>"> <%= year.year_name %> </button>
                <% }); %>
            </div>

            <div id="main-container-rankings">
                <% if (!!teams.length) { %>
                <h1 id="title"> Ranking </h1>

                <div id="list-container">

                    <% teams.sort((a,b) => {if (!(!!a.hackathon_points)) {return 1;} else if (!(!!b.hackathon_points)) {return -1;} else {return b.hackathon_points-a.hackathon_points;} } ).forEach((team) => { %>
                        <div class="group-container grad">
                            <h2 class="group-name"> <%= team.team_name %> </h2>
                            <p class="names-list"> <%= team.members.map((i) => i.user_name).join(", ") %> </p>
                            <h2 class="points-container"> <span class="points-title"> Points: <i> </span> <span class="points-value"> <%- !!team.hackathon_points ? team.hackathon_points : "-&#8734" %> </span> </i> </h2>
                        </div>
                      
                <% }); %>
                <% } else { %>
                    <img id="nopythons" draggable="false" src="/images/nopythons.png"> </img>
                <% } %>

                </div>
            </div>
        </div>
    </body>

    <% include partials/footer %>

</html>